<!DOCTYPE html>
<html lang="en">
	<include file="Public:header" />	      	
	<include file="Public:page_css" />
	<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
		<include file="Public:nav" />
		<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>添加商品</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{:U('Index/index')}" title="返回首页" class="tip-bottom"> 主页</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="tip-bottom">首页管理</a>
                    </li>
                    <li>
                        <strong>编辑商品</strong>
                    </li>
                </ol>
            </div>              
        </div>
        <br/>
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
                                            <h5>编辑商品</h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                            </div>
					</div>
					<div class="ibox-content">
						<form class="form-horizontal" method="post" action="__URL__/addgoods" name="basic_validate" id="myform">
                                                        <notempty name="data">
                                                            <input name="gid" type="hidden" value="{$data.gid}"/>
                                                        </notempty>
                                                       <div class="form-group">
                                                            <label class="col-sm-2 control-label">所属类型</label>
                                                            <div class="col-sm-3">
                                                                <select name="catid" id="firstcatid" class="form-control" datatype="*" nullmsg="请选择分类">
                                                                    <option value="" >请选择</option>
                                                                    <option value="1" <if condition="$data['catid'] eq '1'">selected</if>>水果</option>
                                                                    <option value="2" <if condition="$data['catid'] eq '2'">selected</if>>蔬菜</option>
                                                                    <option value="3" <if condition="$data['catid'] eq '3'">selected</if>>肉类</option>
                                                                </select>
                                                            </div>
<!--                                                            <div class="col-sm-3">
                                                                <select name="catid" id="secondcatid" datatype="*" nullmsg="请选择分类" class="form-control">
                                                                </select>
                                                            </div>-->
							</div>
                                                        <div class="hr-line-dashed"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label">商品名称</label>
								<div class="col-sm-6">
									<input type="text" datatype="*" nullmsg="请填写商品名称" name="gname" placeholder="商品名称" class="form-control" value="{$data.gname}">
								</div>
							</div>
                                                        <div class="hr-line-dashed"></div>
							<div class="form-group">
                                                            <label class="col-sm-2 control-label">曾用名</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" nullmsg="请填写商品名称" name="othername" placeholder="曾用名" class="form-control" value="{$data.othername}">
                                                            </div>
							</div>
                                                        <div class="hr-line-dashed"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label">封面</label>
								<div class="col-sm-2">						
                                                                    <img id="upload_img" src="{$data.poster|default='/Public/Admin/img/no_img.jpg'}" style="width: 100px;height: 60px" />
								</div>
								<div class="col-sm-3">
                                                                    <input type="hidden" name="poster" value="{$data.poster}" id="poster" datatype="*" nullmsg="请上传商品图片" />
                                                                    <input id="photo_file" name="photo_file" type="file" multiple="true" value="" />
								</div>
							</div>
							<div class="hr-line-dashed" style="display: none;"></div>
                                                        <div class="form-group" style="display: none;">
                                                                <label class="col-sm-2 control-label">价格下限</label>
								<div class=" col-sm-3">
									<input type="text" name="minprice"  nullmsg="请填写价格下限" placeholder="价格下限" class="form-control m-t-none" value="{$data.minprice}">
								</div>
                                                                <label class="col-sm-1 control-label">价格上限</label>
								<div class=" col-sm-3">
									<input type="text" name="maxprice"  nullmsg="请填写价格上限" placeholder="价格上限" class="form-control m-t-none" value="{$data.maxprice}">
								</div>
							</div>
							<div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                                <label class="col-sm-2 control-label">排序值</label>
								<div class=" col-sm-2">
									<input type="text" name="sortval" datatype="n" nullmsg="请填写排序值" errormsg="排序值格式错误" placeholder="排序值" class="form-control m-t-none" value="{$data.sortval|default=0}">
								</div>
							</div>
                                                        <div class="hr-line-dashed"></div>
							<div class="form-group">
								<div class="col-sm-4 col-sm-offset-2">
                                                                    <button class="btn btn-primary" type="submit">保存</button>
                                                                    <a class="btn btn-white" href="javascript:history.back();">取消</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
        <include file="Public:footer" />
	<js file='__PUBLIC__/Common/js/uploadify/jquery.uploadify.min.js' />		
	<link rel="stylesheet" href="__PUBLIC__/Common/js/uploadify/uploadify.css"> 
        <script type="text/javascript" src='__PUBLIC__/Admin/js/plugins/Validform/Validform_v5.3.1_min.js'></script>
        <style type="text/css" src='__PUBLIC__/Admin/css/plugins/Validform/validform.css'></style>
	<script type="text/javascript">
            var succpath = "{:U('goods')}";
            $.extend($.Datatype,{
            "price" : /^[0-9]+(\.[0-9]{1,2})?$/
          });
            var catarr = {$catstr};
            $("#photo_file").uploadify({
                'swf': '__PUBLIC__/Common/js/uploadify/uploadify.swf',
                'uploader': '{:U("Upload/upload")}',
                'cancelImg': '__PUBLIC__/Common/js/uploadify/uploadify-cancel.png',
                'buttonText': '上传图片',
                'height': 35,
                'fileTypeExts': '*.gif;*.jpg;*.png',
                'queueSizeLimit': 1,
                'onUploadSuccess': function(file, data, response) {
                    $("#poster").val('/Uploads' + data);
                    $("#upload_img").attr('src', '__ROOT__/Uploads' + data).show();
                }
            });
            <if condition="$data1">
            $("#firstcatid").change(function(){
                var val = $(this).val();
                $("#secondcatid").empty();
                $("#secondcatid").append('<option value="" >请选择</option>');
                for(var i=0;i<catarr.length;i++){
                    if(catarr[i].topid == val){
                        $("#secondcatid").append('<option value="'+catarr[i].catid+'" >'+catarr[i].catname+'</option>');
                    }
                }
            });
                $("#firstcatid").change();
                $("#firstcatid option[value='{$data.topid}']").prop('selected',true);
                $("#secondcatid option[value='{$data.catid}']").prop('selected',true);
            </if>
            function show_result_msg(msg,o,cssctl){
                if(o.type>2){
                    layer.msg(msg,{skin:"layui-layer-hui",time:1500});
                    return false;
                }
            }
            function show_hint(msg){
                layer.msg(msg,{skin:"layui-layer-hui",time:1500});
            }
            $(document).ready(function(){
                    var valid = $("#myform").Validform({
                    tiptype:show_result_msg,
                    tipSweep:true,
                    postonce:true,
                    ajaxPost:true,
                    callback:function(data){
                        layer.msg(data.msg,{skin:"layui-layer-hui",time:1500,end:function(){
                            if(data.status == 0){
                                window.location.href = succpath;
                            }
                        }});
                    }
                });
            });
	</script>
	</body>
</html>
