<!DOCTYPE html>
<html lang="en">
    <include file="Public:header" />            
    <include file="Public:page_css" />
        <css file='__PUBLIC__/Admin/css/goods/goods.base.css' />
        <js file='__PUBLIC__/Admin/js/plugins/webuploader/webuploader.min.js' />
        <css file='__PUBLIC__/Admin/css/plugins/webuploader/webuploader.css' />

        <script type="text/javascript" src='__PUBLIC__/Admin/js/plugins/Validform/Validform_v5.3.1_min.js'></script>
        <style type="text/css" src='__PUBLIC__/Admin/css/plugins/Validform/validform.css'></style>

    <body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
        <include file="Public:nav" />
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2></h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{:U('Index/index')}" title="返回首页" class="tip-bottom"> 主页</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="tip-bottom">首页管理</a>
                    </li>
                    <li>
                        <strong>查看反馈</strong>
                    </li>
                </ol>
            </div>              
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>查看反馈</h5>
                        <div class="ibox-tools"></div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" method="post" action="{:U('add_user')}" name="basic_validate" id="productForm">
                            <!-- <div class="form-group">
                                <label class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-6">{$info['title']}</div>
                            </div>
                            <div class="hr-line-dashed"></div> -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户</label>
                                <div class="col-sm-6">{$info['username']}/{$info['phone']}</div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">时间</label>
                                <div class="col-sm-6">{$info['ctime']|date="Y-m-d H:i:s",###}</div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">内容</label>
                                <div class="col-sm-6">{$info['txt']}</div>
                            </div>
                            <div class="hr"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">图片</label>
                                <div class="col-sm-10">
                                <?php
                                    for($i=1;$i<=9;$i++){
                                        if($info['pic'.$i]){
                                ?>
                                        <img src="__ROOT__/<?=$info['pic'.$i]?>"><br>
                                <?php
                                        }
                                    }
                                ?>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <a class="btn btn-danger" href="javascript:history.back()">返回</a>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <form id="upload_form" method="post"  action="__URL__/upload" style="display: none;"   enctype="multipart/form-data">
            <input type="file" name="file" id="cower" value="" style="display: none;" />
        </form>
<include file="Public:footer" />
<script src="__PUBLIC__/Admin/js/plugins/validate/jquery.validate.min.js"></script>
<script src='__PUBLIC__/Admin/js/plugins/laydate/laydate.js' /></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Common/Ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Common/Ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/pagejs/banner.js"></script>
</body>
</html>

<script type="text/javascript">
    //编辑器
    var ue = UE.getEditor('container');

  //上传头像
  jQuery("#upload").click(function () {
      var options = {
          resetForm:true,
          dataType:'json',
          data:{node:''},
          url:"{:U('upload')}",
          success:function(data) {
            console.log(data);
              if(data.status == 2){
                  $('.my_img').html('');
                  $('input[name="cover"]').val(data.path);
                  $('.my_img').append('<img style="width: 118px;height: 100px;" src="'+data.path+'" />');
              }
          }
      }


      jQuery("#upload_form").ajaxForm(options);
      $("#cower").click();
  });
  jQuery("#cower").change(function () {
        jQuery("#upload_form").submit();
  });

  var start = {
    elem: '#starttime',
    format: 'YYYY/MM/DD hh:mm:ss',
    min: laydate.now(), //设定最小日期为当前日期
    max: '2099-06-16 23:59:59', //最大日期
    istime: true,
    istoday: false,
    choose: function(datas){
       end.min = datas; //开始日选好后，重置结束日的最小日期
       end.start = datas //将结束日的初始值设定为开始日
    }
  };
  var end = {
    elem: '#endtime',
    format: 'YYYY/MM/DD hh:mm:ss',
    min: laydate.now(),
    max: '2099-06-16 23:59:59',
    istime: true,
    istoday: false,
    choose: function(datas){
      start.max = datas; //结束日选好后，重置开始日的最大日期
    }
  };
  laydate(start);
  laydate(end);
</script>