<!DOCTYPE html>
<html lang="en">
	<include file="Public:header" />
	<include file="Public:page_css" />
	<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
		<include file="Public:nav" />
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>设置</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{:U('Index/index')}" title="返回首页" class="tip-bottom"> 主页</a>
                    </li>
                    <li>
                        <a href="#" class="tip-bottom">设置</a>
                    </li>
                    <li>
                        <strong>APP 版本</strong>
                    </li>
                </ol>
            </div>              
        </div>
        <br/>
        <a href="javascript:;" id="versionadd" class="btn btn-primary">添加版本</a>
        <br />
        <br />
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5><i class="fa fa-tasks"></i> 版本列表</h5>
					</div>
					<div class="ibox-content">
						<table class="table table-bordered">
							<thead>
								<tr class="long-tr">
									<th >#</th>
                                    <th>版本名称</th>
                                    <th width="8%">版本号</th>
<!--                                    <th width="8%">系统类型</th>-->
<!--                                    <th width="10%">强制升级</th>-->
                                    <th width="10%">版本类型</th>
                                    <th width="15%">时间</th>
                                    <th width="20%">操作</th>
								</tr>
							</thead>
							<tbody>
								<volist name="list" key='key' id="vo">
									<tr class="long-td">
                                        <td>{$key}</td>
                                        <td>{$vo.name}</td>
                                        <td>{$vo.version}</td>
<!--										<td>{$vo.system}</td>-->
<!--                                         <td> 
                                            {$vo.describe}
                                        </td> -->
<!--                                        <td>
                                        <if condition="$vo.force eq '1'">
                                            <strong style="color:red;">是</strong>
                                        <else/>
                                            <strong style="color:green;">否</strong>
                                        </if>
                                        </td>-->
                                       <td>
                                        <?php
                                            if($vo['type_id']==1){
                                                echo "用户端";
                                            }else if($vo['type_id']==2){
                                                echo "洗车端";
                                            }else if($vo['type_id']==3){
                                                echo "美容美发端";
                                            }
                                        ?>
                                       </td>
                                       <td>{$vo.ctime|date='Y-m-d H:i:s',###}</td>
										<td>
											<a href="javascript:;" data-id="{$vo.vid}" class="btn btn-primary edit">
												<i class="fa fa-pencil"></i> 详细</a>&nbsp;&nbsp;
											<a href="javascript:;" data-id="{$vo.vid}" class="btn btn-danger del">
												<i class="fa fa-trash-o"></i> 删除</a>
										</td>
									</tr>
								</volist>
							</tbody>
						</table>
						<div class="pages" style=" text-align: right;">
							{$page}
						</div>
					</div>
				</div>
			</div>
		</div>
		<include file="Public:footer" />

	</body>
    <script type="text/javascript">
    $(function(){
        var url = "{:U("versionadd",'','')}";
        var upd_url = "{:U("versionedit",'','')}";
        $("#versionadd").click(function(){
            var index = layer.open({
                type: 2,
                title:"添加版本",
                content: url,
                area: ['800px', '500px'],
                skin: 'layui-layer-rim',
                maxmin: true,
                scrollbar: true,
            });
        });

        $(".edit").click(function(){
            var code = $(this).data("id");
            var url = upd_url+'/vid/'+code;
            var index = layer.open({
                type: 2,
                title:"版本详情",
                content: url,
                area: ['800px', '500px'],
                skin: 'layui-layer-rim',
                maxmin: true,
                scrollbar: true,
            });
            return false;
        });


        $(".del").click(function(){
            var thi= $(this);            
            var id = thi.data("id");
            layer.confirm('确定删除？', {icon: 3}, function(index){
                $.getJSON('{:U('versiondel','','')}/vid/'+id,function(data){
                    layer.msg(data.returnMsg,{skin:"layui-layer-hui",time:1000,end:function(){
                        if(data.returnCode == 'SUCCESS'){
                            // thi.parents('tr').hide();
                            window.location.reload();
                        }
                    }});
                });
            });
        });
    });

    </script>

</html>
