<!DOCTYPE html>
<html lang="en">
<head>
<title>商品分类</title>
<css file='__PUBLIC__/Admin/css/bootstrap.min.css' />
<css file='__PUBLIC__/Admin/bootstrap-table/bootstrap-table.min.css' />
<css file='__PUBLIC__/Admin/bootstrap-table/bootstrap-editable.css' />
<css file='__PUBLIC__/Admin/css/plugins/iCheck/custom.css' />
<css file='__PUBLIC__/Admin/css/style.min.css?v=4.0.0' />
<js file='__PUBLIC__/Admin/js/jquery.min.js' />
<js file='__PUBLIC__/Admin/js/bootstrap.min.js?v=3.3.5' />
<js file='__PUBLIC__/Admin/js/plugins/layer/layer.min.js' />

<style type="text/css">
    .rightText{text-align:left;color:#555; line-height: 30px; font-weight: 400;}
    .amount{ font-size:18px;color: red; font-family: Arial,Verdana,"\5b8b\4f53";}
    .bd{font-weight: bold; font-family: Arial,Verdana,"\5b8b\4f53";}
    .hr{
        height: 0px; line-height: 0px; font-size: 0px; border-bottom: 1px solid #f5f5f5;margin-bottom: 5px;
    }
    .chosen-container-single .chosen-single{
        line-height: 28px!important;
    }
    .form-group{margin-bottom: 5px!important;}
    .switchery{height: 20px!important; width: 40px!important;} 
    .switchery > small{height: 20px!important;width: 20px!important;}
    .radio{padding-top: 0!important;}
    .red{color: red}
    .green{color:green;}    
</style>
</head>
    <body class="fixed-sidebar full-height-layout gray-bg">
    <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                            <form class="form-horizontal form-border" id="form" method="post">
                            <notempty name="info">
                            <input name="id" value="{$Think.get.id}" type="hidden" />
                            </notempty>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">姓名</label>
                                        <div class="col-sm-6">
                                            <input type="text" datatype="*" nullmsg="请填写姓名" name="worker_name" id='worker_name' placeholder="姓名" class="form-control worker_name" value="{$info.worker_name}">
                                        </div>
                                    </div>
                                    <div class="hr"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">电话</label>
                                        <div class="col-sm-6">
                                            <input type="text" datatype="*" nullmsg="请填写电话" name="phone" id='phone' placeholder="电话" class="form-control phone" value="{$info.phone}">
                                        </div>
                                    </div>
                                    <div class="hr"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">密码</label>
                                        <div class="col-sm-6">
                                            <input type="password" datatype="*" nullmsg="请填写密码" name="password" id='password' placeholder="密码" class="form-control password" value="">
                                        </div>
                                    </div>
                                    <div class="hr"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">确认密码</label>
                                        <div class="col-sm-6">
                                            <input type="password" datatype="*" nullmsg="请确认密码" name="re_password" id='re_password' placeholder="密码" class="form-control password" value="">
                                        </div>
                                    </div>
                                    <div class="hr"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">所属服务</label>
                                        <div class="col-sm-6">
                                            <select name='service' class="form-control">
                                            <?php
                                                foreach($list1 as $v){
                                            ?>
                                                <option value="{$v['service']}"
                                                <if condition="$v['service'] eq $info['service']">selected</if>
                                                >
                                                    {$v['title']}-洗车服务
                                                </option>
                                            <?php
                                                }
                                                foreach($list2 as $v){
                                            ?>
                                                <option value="{$v['service']}"
                                                <if condition="$v['service'] eq $info['service']">selected</if>
                                                >
                                                    {$v['title']}-美容美发服务
                                                </option>
                                            <?php
                                                }
                                            ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr"></div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-9 col-sm-9">
                                        <empty name="data.state">
                                           <button type="submit" class="btn btn-success">保存</button>
                                        </empty>
                                            <a href="javascript:;" class="btn btn-default closeIframe">关闭</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </body>
<js file='__PUBLIC__/Admin/js/plugins/switchery/switchery.js' /><!--IOS开关样式-->
<js file='__PUBLIC__/Admin/js/plugins/iCheck/icheck.min.js' />
<js file='__PUBLIC__/Common/js/uploadify/jquery.uploadify.min.js' />
<js file='__PUBLIC__/Admin/js/plugins/chosen/chosen.jquery.js' />
<js file='__PUBLIC__/Admin/js//plugins/Validform/Validform_v5.3.1_min.js' />

<css file='__PUBLIC__/Admin/css/plugins/switchery/switchery.css' />
<css file='__PUBLIC__/Admin/css/plugins/Validform/validform.css' />
<css file='__PUBLIC__/Common/js/uploadify/uploadify.css' />
<css file='__PUBLIC__/Admin/css/plugins/chosen/chosen.css' />


<script type="text/javascript">
$(document).ready(function(){
    $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
    // $(".confirm").click(function(){
    //     layer.confirm('确定更改订单？', {icon: 3}, function(index){
    //         $("#form").submit();
    //     });
    // });

    //窗口关闭
    var index = parent.layer.getFrameIndex(window.name);
    $('.closeIframe').click(function(){
        parent.layer.close(index);
    });


    //表单验证
    var valid = $("#form").Validform({
        tiptype:function(msg){
            layer.msg(msg,{skin:"layui-layer-hui",time:1000});
        },
        tipSweep:true,
        postonce:true,
        beforeSubmit:function(form){
          // return false;
        },
        ajaxPost:true,
        callback:function(data){
            layer.msg(data.returnMsg,{skin:"layui-layer-hui",time:1000,end:function(){
                if(data.returnCode == 'SUCCESS')parent.location.reload(); //重载父页面
            }});
        }
    });

    valid.addRule([
        {
            ele : '#worker_name',
            datatype: 's',
        },
        {
            ele : '#phone',
            datatype: 's',
        },
        {
            ele : '#password',
            datatype: 's',
        },
        {
            ele : '#re_password',
            datatype: 's',
        },
        {
            ele : '#order',
            datatype: 'n1-4',
            ignore:'ignore',
        },
    ]);

});

//复选框
var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {
            color: '#1AB394',
        });

//下拉框
var config = {
    '.chosen-select': {},                    
}
for (var selector in config) {
    $(selector).chosen(config[selector]);
}

</script>
</html>
