<!DOCTYPE html>
<html lang="en">
	<include file="Public:header" />
	<include file="Public:page_css" />
	<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
		<include file="Public:nav" />
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>订单管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{:U('Index/index')}" title="返回首页" class="tip-bottom"> 主页</a>
                    </li>
                    <li>
                        <a href="#" class="tip-bottom">订单管理</a>
                    </li>
                    <li>
                        <strong>订单列表</strong>
                    </li>
                </ol>
            </div>              
        </div>
                <div class="col-sm-10 height-big" style="margin: 15px auto;">
                <form action="index" class="form-inline" method="get">
                    <div class="form-group">
                    <label for="title" >订单号：</label>
                    <input type="text" class="form-control input-s-lg" name="orderid" value="{$Think.get.orderid}">
                    </div>
                    <div class="form-group">
                    <label for="type" >类型</label>
                        <select name="ordertype" class="form-control input-auto">
                            <option value="">全部</option>
                            <option value="1" <if condition="$Think.get.ordertype eq '1'"> selected="selected"</if>>即时语音</option>
                            <option value="2" <if condition="$Think.get.ordertype eq '2'"> selected="selected"</if>>网约律师</option>
                        </select>
                    </div>
                    <div class="form-group">
                    <label for="type" >订单状态</label>
                        <select name="status" class="form-control input-auto">
                            <option value="">全部</option>
                            <option value="0" <if condition="$Think.get.status eq '0'"> selected="selected"</if>>待接单</option>
                            <option value="1" <if condition="$Think.get.status eq '1'"> selected="selected"</if>>已抢单</option>
                            <option value="2" <if condition="$Think.get.status eq '2'"> selected="selected"</if>>已接单</option>
                            <option value="3" <if condition="$Think.get.status eq '3'"> selected="selected"</if>>待付款</option>
                            <option value="4" <if condition="$Think.get.status eq '4'"> selected="selected"</if>>已付款</option>
                            <option value="5" <if condition="$Think.get.status eq '5'"> selected="selected"</if>>已评价</option>
                            <option value="-1" <if condition="$Think.get.status eq '-1'"> selected="selected"</if>>用户取消</option>
                            <option value="-2" <if condition="$Think.get.status eq '-2'"> selected="selected"</if>>系统取消</option>
                        </select>
                    </div>
                   <button type="submit" class="btn btn-success">搜索</button>
                </form>
            </div>
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5><i class="fa fa-tasks"></i> 订单列表</h5>
					</div>
					<div class="ibox-content">
						<table class="table table-bordered">
							<thead>
								<tr class="long-tr">
                                                                    <th>序号</th>
                                                                    <th width=''>订单号</th>
                                                                    <th width=''>律师</th>
                                                                    <th width="">用户</th>
                                                                    <th width=''>类型</th>
                                                                    <th width="">订单状态</th>
                                                                    <th width="">下单时间</th>
                                                                    <th >操作</th>
								</tr>
							</thead>
							<tbody>
								<volist name="list" key="key" id="vo">
									<tr class="long-td">
                                        <td>{$key}</td>
                                        <td>{$vo.orderid}</td>
                                        <td>{$vo.lawyer_name}</td>
                                        <td>{$vo.u_name}</td>
                                        <td>{$vo.ordertype}</td>
                                        <td>{$vo.status}</td>
                                        <td>{$vo.ctime}</td>
										<td>
											<a href="javascript:;" data-id="{$vo.orderid}" class="btn btn-primary details">
												<i class="fa fa-pencil"></i> 详细</a>&nbsp;&nbsp;
<!--											<a data-href="{:U('orderdel',array('orderid'=>$vo['orderid']))}" class="btn btn-danger del">
												<i class="fa fa-trash-o"></i> 删除</a>-->
										</td>
									</tr>
								</volist>
							</tbody>
						</table>
						<div class="pages" style=" text-align: right;">
							{$page}
						</div>
					</div>
				</div>
			</div>
		</div>
		<include file="Public:footer" />

	</body>
    <script type="text/javascript">
    $(function(){
        var url = "{:U("details",'','')}";
        $(".details").click(function(){
            var id = $(this).data("id");
            url += "/orderid/"+id;
            var index = layer.open({
                type: 2,
                title:"订单详情",
                content: url,
                area: ['800px', '600px'],
                skin: 'layui-layer-rim',
                maxmin: true,
                scrollbar: true,
            });
        });

        $(".del").click(function(){
            $href = $(this).data("href");
            layer.confirm('是否删除此订单？', {icon: 3}, function(index){
                window.location.href= $href;
            });
        });
    });

    </script>

</html>
